header{
    background: rgb(44, 58, 71);
    width: 100%;
    height: auto;
    padding: 1rem 0;
    text-align: center;
}
header a{
    text-decoration: none;
    color:rgb(179, 55, 113);
}


/*--Responsive (header)*/

/*Móvil

@media (min-width:240px) and (max-width:720px){

    .container-menu{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
    }

    .text{
        display: none;
    }
    .icons {
        display: flex;
        font-size: 1rem;
    }

}

/*Desktop

@media (min-width:1366px) and (max-width:1920px){

    .container-menu{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content:space-evenly;
    }

}*/