header{
    background: rgb(44, 58, 71);
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.container-menu{
    max-width: 50%;
    height:auto;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo a{
    text-decoration: none;
    color:rgb(179, 55, 113);
}
.nav-menu li{
    display: inline-flex;
}
.nav-menu a{
    text-decoration: none;
    color:rgb(241, 241, 241);
    padding: 0 0.5rem;
}
.nav-menu a:hover{
    color:rgb(179, 55, 113);
    transition: all 300ms ease-in-out;
}
.icons{
    display: none;
}


/*--Responsive (header)*/

/*Móvil*/

@media (min-width:240px) and (max-width:720px){

    .container-menu{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
    }

    .text{
        display: none;
    }
    .icons {
        display: flex;
        font-size: 1rem;
    }

}

/*Desktop*/

@media (min-width:1366px) and (max-width:1920px){

    .container-menu{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content:space-evenly;
    }

}