*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1{
    padding:1rem 0;
    font-weight: 400;
    color:rgb(241, 241, 241);
}
h2{
    font-weight: 400;

}
